body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#000;
font-family:Inter,Segoe UI;
color:white;
}

.calculator{
width:600px;
background:#111827;
padding:25px;
border-radius:20px;
box-shadow:0 0 50px rgba(56,189,248,0.2);
}

.top-bar{
margin-bottom:15px;
}

select{
padding:8px;
border-radius:6px;
background:#1f2937;
color:white;
border:none;
}

#display{
background:black;
padding:15px;
border-radius:10px;
margin-bottom:20px;
min-height:40px;
color:#38bdf8;
font-size:20px;
}

input{
padding:6px;
margin:4px;
background:#1f2937;
border:none;
color:white;
border-radius:4px;
}

button{
padding:6px 10px;
margin:4px;
border:none;
background:#0284c7;
color:white;
border-radius:6px;
cursor:pointer;
}
